/*----------------------------------
   COLORS.RC resource script file
  ----------------------------------*/

#include <os2.h>
#include "colors.h"
ICON       ID_COLORS LOADONCALL MOVEABLE DISCARDABLE colors.ico

ACCELTABLE ID_COLORS LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  VK_F3, ID_EXIT, VIRTUALKEY
END

MENU       ID_MENU LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  MENUITEM "E~xit \tF3",        ID_EXIT , MIS_TEXT
END


rcinclude colors.dlg
/*********** COLORS C Program Resource Script File (.RC)        **************/

